<a href="https://colab.research.google.com/github/lavatus/CS114.L21/blob/main/ThePoke.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import requests
from bs4 import BeautifulSoup
import json
import pandas as pd

data = []
endPage = 700
for page in range (1,endPage+1):
    url = 'https://www.thepoke.co.uk/page/' + str(page) + '/' 
    html = requests.get(url)
    soup = BeautifulSoup(html.text, 'html5lib')
    article = soup.find_all('article', class_= 'boxgrid')
    for link in article:
        mylink = BeautifulSoup(str(link), 'html.parser')
        gettinglink = mylink.find('a', href=True)
        try:
            getArticle = link.p.string
        except:
            continue
        data.append({
            'article_link': str(gettinglink['href']),
            'headline': str(getArticle),
            'is_sarcastic': 1,})
with open('thepoke.json', 'w') as f:
    json.dump(data, f, indent = 3)
print(len(data))

12610

In [ ]:
data = pd.read_json('thepoke.json')
data

                                            article_link  ... is_sarcastic
0      https://www.thepoke.co.uk/2021/06/25/21-times-...  ...            1
1      https://www.thepoke.co.uk/2021/06/25/george-os...  ...            1
2      https://www.thepoke.co.uk/2021/06/24/this-take...  ...            1
3      https://www.thepoke.co.uk/2021/03/23/daisy-may...  ...            1
4      https://www.thepoke.co.uk/2021/06/24/18-awful-...  ...            1
...                                                  ...  ...          ...
12605  https://www.thepoke.co.uk/2018/04/13/guys-culi...  ...            1
12606  https://www.thepoke.co.uk/2018/04/13/graph-of-...  ...            1
12607  https://www.thepoke.co.uk/2018/04/13/graph-wil...  ...            1
12608  https://www.thepoke.co.uk/2018/04/13/universit...  ...            1
12609  https://www.thepoke.co.uk/2018/04/13/professor...  ...            1

[12610 rows x 3 columns]